## Build & Output directories
[Bb]in/
[Oo]bj/
publish/
publish-single/
dist/

## Executables & Binaries
*.exe
*.dll
*.pdb

## IDE & User Settings
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

## Local Configuration
crosshair_settings.json
